{% extends "base.html" %}
{% from "macros.html" import breadcrumbs, page_header, timeline_item, empty_state %}
{% set page_title = page_heading %}

{% block content %}
{{ breadcrumbs(breadcrumb_items) }}
{{ page_header(page_heading, page_subtitle) }}

{% if meetings %}
  <div class="timeline">
    {% set current_month = '' %}
    {% for meeting in meetings %}
      {% set meeting_date = meeting.MT_dateTimeScheduleStart[:10] %}
      {% set month_key = meeting_date[:7] %}
      {% set month_name = meeting.MT_dateTimeScheduleStart | datetime_format("%B %Y") %}

      {% if month_key != current_month %}
        {% if current_month != '' %}
          </div>
        {% endif %}
        <div class="timeline-group">
          <div class="timeline-header">{{ month_name }}</div>
          <div class="timeline-list">
        {% set current_month = month_key %}
      {% endif %}

      {{ timeline_item(
        meeting | meeting_url,
        meeting.MT_dateTimeScheduleStart[8:10],
        meeting.MT_dateTimeScheduleStart | datetime_format("%b"),
        meeting.MT_name or "Meeting",
        meeting.MT_dateTimeScheduleStart[11:16],
        meeting.MT_commentary | striptags
      ) }}
    {% endfor %}

    {% if current_month != '' %}
      </div>
    </div>
    {% endif %}
  </div>
{% else %}
  {{ empty_state("No meetings data available yet.") }}
{% endif %}
{% endblock %}
